.App {
  text-align: center
}

.card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
  animation: ease-in;
}


.card:hover{
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  background: #9D50BB; 
  background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  
  background: linear-gradient(to right, #6E48AA, #9D50BB); 
}

.mt-5 {
    opacity: 0.6;
    font-weight: bold;
    font-size: 15px;
}

.mt-2 {
  
}
